.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}

.n-left {
  flex: 1; /* Equal width with n-right ie., 50% */
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  flex: 1; /* Equal width with n-left ie., 50% */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10; /* Full width available for it */
}

.n-list>ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  list-style-type: none; /* To remove the bullets from list */
}

.n-list>ul :hover {
  color: var(--orange);
  cursor: pointer;
}

.n-button {
  flex: 2;
}